body{
    background-color: #000000;
}

h1{
    color: #ffffff;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    max-width: 900px;
    margin: auto;
}

img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}